//$background-color: #84A98C;
$background-color: #84adc4;
$border-color: #FF331F;

.tag_line {
    font-size: 2.0ßrem;
    font-weight: bold;
    flex-grow: 0;
}
.page_content{

    display: flex;
    flex-direction: row;
    flex: 1;
    //flex-grow: 0;
    justify-content: center;
    margin: 15% auto 10% auto;
    & .table{
        height: 500px;
        width: 500px;
    }
}

@media (max-width: 600px) {

    .page_content{
        margin: 5% 0 5% 0;
        & .table{
            height: 100%;
            width: 100%;
        }

    }
}