.headline{
    text-align: center;
}

.pageWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    & div{
        width: 100%;
        margin: 8px auto;  
    }
    & .button{
        width: 100%;
        margin: 10px auto;
    }
}

@media (max-width: 600px) {
    .form_content {
        
        & .button{
        }
    }

    
}


